In [216]:
import pandas as pd
dataset = pd.read_csv('../../Dataset/HousingDataset/Melbourne_housing_dataset_full.csv')
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

# Preprocessing Steps

I have used the preprocessing of mmClean and I would predict the price. An explanation to selection of this feature is given in file predictionTarget.txt

In [217]:
# This entire cell will give the result after Preprocessing the data.

# fawkner lot has only one entry with many null values so we can remove it
dataset = dataset.drop(dataset[dataset.Suburb == 'fawkner lot'].index)

# There is only one property from year 1196 and we can drop that row
dataset = dataset.drop(dataset[dataset.YearBuilt == 1196.0].index)

suburbs_missing_data = ['macleod' 'cranbourne east' 'olinda']
for suburb_region in suburbs_missing_data:
    dataset = dataset.drop(dataset[dataset.Suburb == suburb_region].index)
    
# Converting all string based columns to lowercase
dataset.Suburb = dataset.Suburb.str.lower()
dataset.Address = dataset.Address.str.lower()
dataset.Type = dataset.Type.str.lower()
dataset.Method = dataset.Method.str.lower()
dataset.SellerG = dataset.SellerG.str.lower()
dataset.Regionname = dataset.Regionname.str.lower()
dataset.CouncilArea = dataset.CouncilArea.str.lower()

dataset.Postcode = dataset.groupby('Suburb').Postcode.transform(lambda x:x.fillna(x.median()))

dataset.loc[(dataset.Suburb == 'footscray') & (dataset.CouncilArea.isnull()),'CouncilArea'] = 'maribyrnong city council'
dataset.loc[(dataset.Suburb == 'camberwell') & (dataset.CouncilArea.isnull()),'CouncilArea'] = 'boroondara city council'

dataset.loc[(dataset.Suburb == 'footscray') & (dataset.Regionname.isnull()),'Regionname'] = 'western metropolitan'
dataset.loc[(dataset.Suburb == 'camberwell') & (dataset.Regionname.isnull()),'Regionname'] = 'southern metropolitan'

# property count for suburbs is the same and hence 
dataset.Propertycount = dataset.groupby('Suburb').Propertycount.transform(lambda x:x.fillna(x.median()))

# latitude and longitutde of a any suburb are in very close range and since we can not have outliers 
# here we can simply use mean to fill the missing values
dataset.Lattitude = dataset.groupby('Suburb').Lattitude.transform(lambda x:x.fillna(x.mean()))
dataset.Longtitude = dataset.groupby('Suburb').Longtitude.transform(lambda x:x.fillna(x.mean()))

# median of the number of bedrooms grouped by rooms could be a good fit for the missing values of Bedrooms
dataset.Bedroom2 = dataset.groupby('Rooms').Bedroom2.transform(lambda x:x.fillna(x.median()))
dataset.Bathroom = dataset.groupby('Rooms').Bathroom.transform(lambda x:x.fillna(x.median()))
dataset.Car = dataset.groupby('Rooms').Car.transform(lambda x:x.fillna(x.median()))
dataset.YearBuilt = dataset.groupby('Suburb').YearBuilt.transform(lambda x:x.fillna(x.median()))
dataset.Landsize = dataset.groupby('Suburb').Landsize.transform(lambda x:x.fillna(x.median()))
dataset.BuildingArea = dataset.groupby('Suburb').BuildingArea.transform(lambda x:x.fillna(x.median()))

# After all this preprocessing we still find some building area and landsize having NA we will drop them
dataset = dataset.drop(dataset[dataset.BuildingArea.isnull()].index)
dataset = dataset.drop(dataset[dataset.Landsize.isnull()].index)

/home/parth/.local/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1076: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/parth/.local/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1076: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/parth/.local/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1076: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/parth/.local/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1076: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/home/parth/.local/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1076: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [218]:
dataset.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            7581
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea         0
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [219]:
dataset = dataset.dropna()

In [220]:
Y = dataset['Price']
X = dataset.loc[:, dataset.columns != 'Price']
print(X.shape)
print(Y.shape)

(27147, 20)
(27147,)

In [221]:
X.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,abbotsford,85 turner st,2,h,s,biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,98.0,1922.5,yarra city council,-37.7996,144.9984,northern metropolitan,4019.0
2,abbotsford,25 bloomburg st,2,h,s,biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,yarra city council,-37.8079,144.9934,northern metropolitan,4019.0
4,abbotsford,5 charles st,3,h,sp,biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,yarra city council,-37.8093,144.9944,northern metropolitan,4019.0
5,abbotsford,40 federation la,3,h,pi,biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,98.0,1922.5,yarra city council,-37.7969,144.9969,northern metropolitan,4019.0
6,abbotsford,55a park st,4,h,vb,nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,yarra city council,-37.8072,144.9941,northern metropolitan,4019.0

# Approach 1 : One Hot Encoding of all the Categorical Features

## Using Linear Regression

In [222]:
regionname = pd.get_dummies(X['Regionname'],prefix='Regionname')
councilarea = pd.get_dummies(X['CouncilArea'],prefix='CouncilArea')
types = pd.get_dummies(X['Type'],prefix='Type')
method = pd.get_dummies(X['Method'],prefix='Method')

In [223]:
ohe_x = X.copy()
ohe_x = ohe_x.drop(['Regionname','CouncilArea','Type','Method','Suburb','Address','SellerG','Date'],axis = 1)
ohe_x = pd.concat([ohe_x,regionname,councilarea,types,method],axis=1)
ohe_x.shape

(27147, 61)

In [224]:
ohe_x.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,...,CouncilArea_yarra city council,CouncilArea_yarra ranges shire council,Type_h,Type_t,Type_u,Method_pi,Method_s,Method_sa,Method_sp,Method_vb
1,2,2.5,3067.0,2.0,1.0,1.0,202.0,98.0,1922.5,-37.7996,...,1,0,1,0,0,0,1,0,0,0
2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,...,1,0,1,0,0,0,1,0,0,0
4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,...,1,0,1,0,0,0,0,0,1,0
5,3,2.5,3067.0,3.0,2.0,1.0,94.0,98.0,1922.5,-37.7969,...,1,0,1,0,0,1,0,0,0,0
6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,...,1,0,1,0,0,0,0,0,0,1

In [225]:
from sklearn.model_selection import train_test_split

In [237]:
X_train, X_test, y_train, y_test = train_test_split(ohe_x, Y, test_size=0.15, random_state=42)

In [238]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [239]:
lr = LinearRegression()
result = lr.fit(X_train,y_train)
result.score(X_train,y_train)

0.6167869061748563

In [240]:
mean_absolute_error(y_train,result.predict(X_train))

252645.87799804952

In [15]:
result.score(X_test,y_test)

0.6249600993262522

In [16]:
prediction = result.predict(X_test)

In [17]:
mean_absolute_error(y_test,prediction)

256301.1763670137

## Using Decision Tress Regressor

In [19]:
from sklearn.tree import DecisionTreeRegressor as dt

In [21]:
melbourne_model =dt()
result1 = melbourne_model.fit(X_train, y_train)
result1.score(X_train,y_train)

0.9800969923468149

In [22]:
mean_absolute_error(y_train,result1.predict(X_train))

18551.406290329338

In [24]:
mean_absolute_error(y_test,result1.predict(X_test))

232307.88007417033

## Using Random Forest Regressor

In [241]:
from sklearn.ensemble import RandomForestRegressor

In [242]:
regr = RandomForestRegressor(max_depth=30, random_state=0, n_estimators=500)
result2 = regr.fit(X_train,y_train)
result2.score(X_train,y_train)

0.955441386467173

In [243]:
mean_absolute_error(y_train,result2.predict(X_train))

71043.1110024283

In [244]:
mean_absolute_error(y_test,result2.predict(X_test))

166014.35633329375

## Using Gradient Boosting Regressor

In [59]:
from sklearn.ensemble import GradientBoostingRegressor

In [61]:
xgb = GradientBoostingRegressor()
result3 = xgb.fit(X_train,y_train)
result3.score(X_train,y_train)

0.7711366646995951

In [62]:
mean_absolute_error(y_train,result3.predict(X_train))

182404.83960623533

In [63]:
mean_absolute_error(y_test,result3.predict(X_test))

187983.3513694383

## Using SVR

In [64]:
from sklearn.svm import SVR

In [65]:
clf = SVR(gamma='scale', C=1.0, epsilon=0.2)
result4 = clf.fit(X_train, y_train)
result4.score(X_train,y_train)

-0.07743590243657827

In [66]:
mean_absolute_error(y_train,result4.predict(X_train))

426604.1799020527

In [67]:
mean_absolute_error(y_test,result4.predict(X_test))

429835.7862785109

# Approach 2 : One Hot Encoding of all the Categorical Features except CouncilArea

In [178]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()

In [179]:
regionname = pd.get_dummies(X['Regionname'],prefix='Regionname')
X['CouncilArea'] = labelEncoder.fit_transform(X['CouncilArea'])
types = pd.get_dummies(X['Type'],prefix='Type')
method = pd.get_dummies(X['Method'],prefix='Method')

/home/parth/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [180]:
ohe_x = X.copy()
ohe_x = ohe_x.drop(['Regionname','Type','Method','Suburb','Address','SellerG','Date'],axis = 1)
ohe_x = pd.concat([ohe_x,regionname,types,method],axis=1)
ohe_x.shape

(27147, 29)

In [181]:
ohe_x.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,...,Regionname_western metropolitan,Regionname_western victoria,Type_h,Type_t,Type_u,Method_pi,Method_s,Method_sa,Method_sp,Method_vb
1,2,2.5,3067.0,2.0,1.0,1.0,202.0,98.0,1922.5,31,...,0,0,1,0,0,0,1,0,0,0
2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,31,...,0,0,1,0,0,0,1,0,0,0
4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,31,...,0,0,1,0,0,0,0,0,1,0
5,3,2.5,3067.0,3.0,2.0,1.0,94.0,98.0,1922.5,31,...,0,0,1,0,0,1,0,0,0,0
6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,31,...,0,0,1,0,0,0,0,0,0,1

In [166]:
from sklearn.model_selection import train_test_split

In [182]:
X_train, X_test, y_train, y_test = train_test_split(ohe_x, Y, test_size=0.15, random_state=54)

## Using Linear Regression

In [126]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [127]:
lr = LinearRegression()
result = lr.fit(X_train,y_train)
result.score(X_train,y_train)

0.581650153877802

In [128]:
mean_absolute_error(y_train,result.predict(X_train))

268627.5233323213

In [129]:
result.score(X_test,y_test)

0.5857716622741388

In [130]:
prediction = result.predict(X_test)

In [131]:
mean_absolute_error(y_test,prediction)

272565.58670644753

## Using Decision Tress Regressor

In [132]:
from sklearn.tree import DecisionTreeRegressor as dt

In [133]:
melbourne_model =dt()
result1 = melbourne_model.fit(X_train, y_train)
result1.score(X_train,y_train)

0.9800969923468149

In [134]:
mean_absolute_error(y_train,result1.predict(X_train))

18551.406290329338

In [135]:
mean_absolute_error(y_test,result1.predict(X_test))

234538.75243390814

## Using Random Forest Regressor

In [183]:
from sklearn.ensemble import RandomForestRegressor

In [184]:
regr = RandomForestRegressor(max_depth=30, random_state=0, n_estimators=500)
result2 = regr.fit(X_train,y_train)
result2.score(X_train,y_train)

0.9573591715196176

In [185]:
mean_absolute_error(y_train,result2.predict(X_train))

70386.74057622608

In [186]:
mean_absolute_error(y_test,result2.predict(X_test))

167180.41169015484

## Using Gradient Boosting Regressor

In [140]:
from sklearn.ensemble import GradientBoostingRegressor

In [141]:
xgb = GradientBoostingRegressor()
result3 = xgb.fit(X_train,y_train)
result3.score(X_train,y_train)

0.7687187012317716

In [142]:
mean_absolute_error(y_train,result3.predict(X_train))

182336.6494787897

In [143]:
mean_absolute_error(y_test,result3.predict(X_test))

187879.1423820968

## Using SVR

In [144]:
from sklearn.svm import SVR

In [145]:
clf = SVR(gamma='scale', C=1.0, epsilon=0.2)
result4 = clf.fit(X_train, y_train)
result4.score(X_train,y_train)

-0.07742409930226124

In [146]:
mean_absolute_error(y_train,result4.predict(X_train))

426603.32993387186

In [147]:
mean_absolute_error(y_test,result4.predict(X_test))

429835.0546736818

# Best Results Approach 1 
Random Forest Regressor on Test with Mean Absolute Error

Test1 = 166014.35633329375

Test2 = 162662.60695387467

Test3 = 163359.58202177298

# Best Results Approach 2 : 
Random Forest Regressor on Test with Mean Absolute Error

Test1 = 165863.57382671873

Test2 = 162874.63519435422

Test3 = 167180.41169015484

## Both the approach show comparable results and their predicted and actual values are saved in the csv files along it with following columns

Index

Predicted Value

Actual Value

In [245]:
final_prediction = result2.predict(X_test)

In [246]:
final_prediction = pd.DataFrame({'Predicted Value':final_prediction},index=y_test.index)

In [247]:
final_prediction.head()

       Predicted Value
31189     1.009953e+06
9976      6.286888e+05
8575      7.218740e+05
9555      5.270849e+05
19215     7.807537e+05

In [248]:
y_test.head()

31189    1312500.0
9976      547500.0
8575      767000.0
9555      540000.0
19215     822000.0
Name: Price, dtype: float64

In [249]:
csv_data = pd.concat([final_prediction,y_test],axis=1,names=['Prediction','Actual'])

In [250]:
csv_data.to_csv('predict_1_approach_1.csv',index=False)